<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Neto Tech Admin Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">

</head>
   <div class="s-header__logo" style="    padding-left: 40%;
}">
                <a href="/">
                    <img src="images/logo.png" alt="Homepage">
                </a>
            </div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-login mx-auto my-5">
            <div class="card-header">Login</div>

            <div class="card-body">
                <form action="/login" method="post">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Remember Password</label>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                {{!-- <div class="text-center">
                   
                    <a class="d-block small mt-3" href="/register">Register an Account</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Forgot Password?
               </button>
                    
                    <a class="d-block small" href="/">Home Page?</a>
                </div>
                 <button class="btn btn-primary" onclick="googleSignIn()" >googleSignIn</button> --}}
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="email" name="resetEmail" id="resetEmail">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="forgotPassword()" class="btn btn-primary">Send Reset Code</button>
      </div>
    </div>
  </div>
</div>
