<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2022</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 2000);


        $("#create-category-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#category-title").val();

            $.ajax({
                url: '/admin/category/create',
                type: 'POST',
                data: {name: data},
                success: function (response) {

                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/category/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/category/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;


                    $(".category-list").append(html);

                }
            });

            $("#category-title").val('');
        });


        $("#update-category-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#category-title").val();
            var id = $("#category-id").val();

            $.ajax({
                url: `/admin/category/edit/${id}`,
                type: 'POST',
                data: {name: data},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });
    //services section
    $("#create-services-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#services-title").val();
               var decription = $("#services-decription").val();
            $.ajax({
                url: '/admin/services/create',
                type: 'POST',
                data: {name: data,decription:decription},
                success: function (response) {

                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/services/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/services/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;


                    $(".services-list").append(html);

                }
            });

            $("#services-title").val('');
        });

  
      $("#update-services-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#services-title").val();
            var description = $("#services-description").val();
            var id = $("#services-id").val();

            $.ajax({
                url: `/admin/services/edit/${id}`,
                type: 'POST',
                data: {name: data,description:description},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });


//blogs section


 $("#create-blogs-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#blogs-title").val();
               var decription = $("#blogs-decription").val();
               var image=$("#blogs-image").val();
            $.ajax({
                url: '/admin/blogs/create',
                type: 'POST',
                data: {name: data,decription:decription,image:image},
                success: function (response) {

                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/blogs/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/blogs/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;


                    $(".blogs-list").append(html);

                }
            });

            $("#blogs-title").val('');
        });

    
      $("#update-blogs-button").on('click', function (e) {
            e.preventDefault();

               var data = $("#blogs-title").val();
               var description = $("#blogs-description").val();
               var image=$("#blogs-image").val();

               
            var id = $("#blogs-id").val();

            $.ajax({
                url: `/admin/blogs/edit/${id}`,
                type: 'POST',
                data: {name: data,description:description,image:image},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });




//our work model


 $("#create-ourwork-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#ourwork-title").val();
               var decription = $("#ourwork-decription").val();
            $.ajax({
                url: '/admin/ourwork/create',
                type: 'POST',
                data: {name: data,decription:decription},
                success: function (response) {

                    var html = `<tr>
                        <td>${response.title}</td>
                         <td>${response.description}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/ourwork/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/ourwork/${response._id}?newMethod=DELETE" method="post">
                                {{!-- <button class="btn btn-sm btn-danger" type="submit">Delete</button> --}}
                            </form>
                        </td>
                    </tr>`;


                    $(".ourwork-list").append(html);

                }
            });

            $("#ourwork-title").val('');
        });

  
      $("#update-ourwork-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#ourwork-title").val();
            var description = $("#ourwork-description").val();
            var id = $("#ourwork-id").val();

            $.ajax({
                url: `/admin/ourwork/edit/${id}`,
                type: 'POST',
                data: {name: data,description:description},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });

 $("#create-portfolio-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#ourwork-title").val();
               var decription = $("#ourwork-decription").val();
               var image=$('#image').val();
               var link=$('#link').val();
            $.ajax({
                url: '/admin/portfolio/create',
                type: 'POST',
                data: {name: data,decription:decription,image:image,link:link},
                success: function (response) {

                    var html = `<tr>
                        <td>${response.title}</td>
                         <td>${response.description}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/portfolio/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/portfolio/${response._id}?newMethod=DELETE" method="post">
                                {{!-- <button class="btn btn-sm btn-danger" type="submit">Delete</button> --}}
                            </form>
                        </td>
                    </tr>`;


                    $(".ourwork-list").append(html);

                }
            });

            $("#ourwork-title").val('');
        });

  
      $("#update-portfolio-button").on('click', function (e) {
            e.preventDefault();

            var data = $("#ourwork-title").val();
            var description = $("#ourwork-description").val();
            var image= $("#ourwork-image").val();
            var id = $("#ourwork-id").val();
             var link=$('#ourwork-link').val();
            $.ajax({
                url: `/admin/portfolio/edit/${id}`,
                type: 'POST',
                data: {name: data,description:description,image:image,link:link},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });
    });



    
</script>
